body {
	background: url(../img/404-bg.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.f0f-body {
	display: inline-table;
	width: 100%;
}
.f0f-content {
	vertical-align: middle;
	height: 100vh;
	display: table-cell;
}