.faq-col{
	background-color:#e2e2e3;
	padding-top:35px;
	text-align:center;
}
.faq-header-text{
	padding-top:65px;
	padding-bottom:100px;
}
.faq-header-img{
	margin-top:25px;
}
.faq-content{
	margin-top:30px;
	padding-bottom:30px;
}
.faq-sections{
	background-color:#ddd;
	height:45px;
	padding:10px;
}
.faq-body{
	padding-top: 15px;
	background-color: #eee;
}
.media-body{
	margin-top:30px;
}
.forum-p{
	margin:0;
}
.topic-holder a{
	padding-left: 15px;
	color: #8dc63f;
}