.login-password {
	margin-top: 10px;
	margin-bottom: 10px;
}
.login-form {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #e3e3e3;
	/*-webkit-box-shadow: 0 1px 35px rgba(0,0,0,.15);*/
	/*box-shadow: 0 1px 35px rgba(0,0,0,.15);*/
	text-align: center;
	margin-top: 90px;
	margin-bottom: 90px;
	height: auto;
	padding-bottom: 15px;
	background-color: #fff;

	-webkit-box-shadow: 2px 4px 19px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    2px 4px 19px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         2px 4px 19px 0px rgba(50, 50, 50, 0.75);
}

.login-logo {
	margin-bottom: 45px;
}

.input-size {
	height: 45px;
	background-color: #f1f1f1;
}

.forgot-password{
	margin-top: 20px;
}