.login-form {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #e3e3e3;
	/*-webkit-box-shadow: 0 1px 35px rgba(0,0,0,.15);*/
	/*box-shadow: 0 1px 35px rgba(0,0,0,.15);*/
	text-align: center;
	margin-top: 90px;
	margin-bottom: 90px;
	height: 400px;
	background-color: #fff;

	-webkit-box-shadow: 2px 4px 19px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    2px 4px 19px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         2px 4px 19px 0px rgba(50, 50, 50, 0.75);
}
.login-cont{
	padding: 15px;
	margin: 0 auto;
}
.login-logo {
	margin-bottom: 45px;
}
.input-margin {
	margin-top: 10px;
}
.btn-margin {
	margin-top: 25px !important;
}
.input-size {
	height: 45px;
	background-color: #f1f1f1;
}
button {
	height: 35px;
	padding-top: 15px;
}
.form-check {
	margin-top: 30px Important;
	width: 15px;
	height: 15px;
	float: left;
}
.forgot-pass{
	margin-top: 20px;
}