body{
	background: #333 url(../img/background.gif) repeat;
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}
.fa-6x{
	font-size: 6em;
}
.no-right-padding{
	padding-right: 0px;
}
.no-left-padding{
	padding-left: 0px;
}
h1, h2, h3, h4{
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}
textarea {
	width:100%;
	height:120px;
	resize:none;
}
a:hover, a:focus {
	color: #D1E8B2;
	text-decoration: none;
	cursor: pointer;
}
/*header styles */
header{
	background: #99ca3c;
	background: -moz-linear-gradient(top,  #99ca3c 0%, #b9d76a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#99ca3c), color-stop(100%,#b9d76a));
	background: -webkit-linear-gradient(top,  #99ca3c 0%,#b9d76a 100%);
	background: -o-linear-gradient(top,  #99ca3c 0%,#b9d76a 100%);
	background: -ms-linear-gradient(top,  #99ca3c 0%,#b9d76a 100%);
	background: linear-gradient(to bottom,  #99ca3c 0%,#b9d76a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99ca3c', endColorstr='#b9d76a',GradientType=0 );
}
.cont-logo{
	height: 83px;
}
.container-button-menu i{
	color: #fff;
}
header img{
	left: 25px;
	margin-top: 11px;
	position: absolute;
	z-index: 1000;
}
nav li a{
	display: inline;
	padding-top: 45px !important;
	padding-bottom: 10px !important;
	color: #fff;
	font-size: 23px;
}
nav li a:hover {
	background: #8bc53f !important;
	color: #fff;
}
nav .seperator{
	display: inline;
	width: 2px;
	height: 75px;
	background-color: #8dc63f;
	position: absolute;
}
.menu {
	display: none;
	margin: 0 !important;
}
.menu li{
	border-radius: 0px !important;
	color: #8dc63f !important;
	cursor: pointer;
}
.menu a{
	color: #8dc63f !important;
}
.menu li:hover{
	background-color: #efefef;
}
header .green-bar{
	background-color: #8dc63f;
	height: 20px;
}
/*end header styles */
.main-content{
	background-color: white;
	overflow: hidden;
	min-height: 500px;
}
/*footer styles */
footer{
	background: #b9d76a;
	background: -moz-linear-gradient(top,  #b9d76a 0%, #99ca3c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b9d76a), color-stop(100%,#99ca3c));
	background: -webkit-linear-gradient(top,  #b9d76a 0%,#99ca3c 100%);
	background: -o-linear-gradient(top,  #b9d76a 0%,#99ca3c 100%);
	background: -ms-linear-gradient(top,  #b9d76a 0%,#99ca3c 100%);
	background: linear-gradient(to bottom,  #b9d76a 0%,#99ca3c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9d76a', endColorstr='#99ca3c',GradientType=0 );
	color: #fff;
	padding: 15px;
}
footer p{
	margin: 0!important;
}
footer p a{
	color: #fff;
}
footer p a:hover{
	color: #fff;
}
/*end footer styles */

/* Global styles */
.pointer{
	cursor: pointer;
}
.content{
	background-color: #fff;
	padding: 40px 20px 0 20px;
}
.content h4{
	color: #8dc63f;
	font-weight: bold;
}
.logout-panel{
	position: relative;
}
.inner-logout{
	z-index: 1000;
	position: absolute;
	padding: 5px 10px;
	margin: 0px 10px 0px 0px;
	background-color: #8dc63f;
	height: 30px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	right: 0;
}
.inner-logout a{
	color: #fff !important;
}
.gradient-green {
	background: -moz-linear-gradient(top,  rgba(185,215,107,0) 0%, rgba(185,215,107,0.6) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(185,215,107,0)), color-stop(100%,rgba(185,215,107,0.6)));
	background: -webkit-linear-gradient(top,  rgba(185,215,107,0) 0%,rgba(185,215,107,0.6) 100%);
	background: -o-linear-gradient(top,  rgba(185,215,107,0) 0%,rgba(185,215,107,0.6) 100%);
	background: -ms-linear-gradient(top,  rgba(185,215,107,0) 0%,rgba(185,215,107,0.6) 100%);
	background: linear-gradient(to bottom,  rgba(185,215,107,0) 0%,rgba(185,215,107,0.6) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b9d76b', endColorstr='#99b9d76b',GradientType=0 );
}
.transparent-background{
	background-color: rgba(0,0,0,0);
}
.blue-text{
	color:#09f;
}
.btn-lg { padding: 0 !important; }

button {
	height: 35px;
	padding-top: 15px;
}
.warning {
	color: red !important;
}
.warning i {
	cursor: pointer;
}
.well{
	background-color: #fff;
	overflow:hidden;
}
.text-left h4 i {
	padding-right: 10px;
	cursor: pointer;
}
.round-left {
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.tab-content {
    border: 1px solid #8dc63f;    
    border-radius: 0 5px 5px 5px;
    padding: 15px;
}
.tab-content i {
	color: #8dc63f;
	cursor: pointer;
}
.nav-tabs {
	border: none;
}
.nav-tabs li.active a, .nav-tabs li.active a:hover{
	color: #fff;
	border: none;
	background: #99ca3c;
	background: -moz-linear-gradient(top,  #99ca3c 0%, #b9d76a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#99ca3c), color-stop(100%,#b9d76a));
	background: -webkit-linear-gradient(top,  #99ca3c 0%,#b9d76a 100%);
	background: -o-linear-gradient(top,  #99ca3c 0%,#b9d76a 100%);
	background: -ms-linear-gradient(top,  #99ca3c 0%,#b9d76a 100%);
	background: linear-gradient(to bottom,  #99ca3c 0%,#b9d76a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99ca3c', endColorstr='#b9d76a',GradientType=0 );
	opacity: 1 !important;
}
.nav-tabs li a {
	color: #fff;
	border: none;
	background: #99ca3c;
	background: -moz-linear-gradient(top,  #99ca3c 0%, #b9d76a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#99ca3c), color-stop(100%,#b9d76a));
	background: -webkit-linear-gradient(top,  #99ca3c 0%,#b9d76a 100%);
	background: -o-linear-gradient(top,  #99ca3c 0%,#b9d76a 100%);
	background: -ms-linear-gradient(top,  #99ca3c 0%,#b9d76a 100%);
	background: linear-gradient(to bottom,  #99ca3c 0%,#b9d76a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99ca3c', endColorstr='#b9d76a',GradientType=0 );
	opacity: .6;
	margin-right: 10px;
}
.nav-tabs li a:hover{
	opacity: 1 !important;
}