<div class="container-fluid">
	<div class="row">
	    <div class="col-lg-8 col-lg-offset-1">
			<h2 class="about-header">Who We Are</h2>
		</div>
		<div class="col-lg-10 col-lg-offset-1">
			<hr>
		</div>
	    <div class="col-lg-10 col-lg-offset-1">
			<p>At some point, every parent and every family will have care needs, be it for children, seniors, pets or even homes. Our mission is to improve the lives of families and caregivers by helping them connect in a reliable and easy way. Our solutions help families make informed decisions in one of the most important and highly considered aspects of their family life: finding and managing quality care for their loved ones.</p> 
			<p>In providing families a comprehensive marketplace for care, we are also building the largest global destination for quality caregivers to find fulfilling employment and career opportunities. We strive to help our members - families and caregivers - pursue their passions and fulfill the basic human need of caring for each other.</p>
	    </div>
		<div class="col-lg-10 col-lg-offset-1">
			<hr>
		</div>
	</div>
	<div class="row pad-bottom">
		<div class="col-lg-5 col-md-6 col-sm-6 col-xs-12 col-lg-offset-1 text-center">
			<h4 class="text-center">Our Products</h4>
			<hr>
		    <img class="img-responsive img-rounded" src="img/example-1.jpg">
		</div>
		<div class="col-lg-5 col-md-6 col-sm-6 col-xs-12 text-center">
			<h4 class="text-center">Our Services</h4>
			<hr>
		    <img class="img-responsive img-rounded" src="img/example-2.jpg">
		</div>
	</div><br>
</div>