<div class="container-fluid">
	<div class="row">
	    <div class="col-lg-8 col-lg-offset-1">
			<h2>Who We Are</h2>
		</div>
		<div class="col-lg-10 col-lg-offset-1">
			<hr>
		</div>
	    <div class="col-lg-8 col-lg-offset-1">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo con derit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupid officia deserunt mollit anim id est laborum.</p>
	    </div>
		<div class="col-lg-10 col-lg-offset-1">
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 col-lg-offset-1 text-center">
		    <img class="img-responsive" src="img/logo.svg">
		</div>
		<div class="col-lg-10 col-lg-offset-1">
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-5 col-md-6 col-sm-6 col-xs-6 col-lg-offset-1 text-center">
			<h4 class="text-center">Our Products</h4>
			<hr>
		    <img class="img-responsive img-rounded" src="img/example-1.jpg">
		</div>
		<div class="col-lg-5 col-md-6 col-sm-6 col-xs-6 text-center">
			<h4 class="text-center">Our Services</h4>
			<hr>
		    <img class="img-responsive img-rounded" src="img/example-2.jpg">
		</div>
	</div><br>
</div>