<div class="container-fluid">
	<div class="row">
	    <div class="col-lg-8 col-lg-offset-1">
			<h2 class="about-header">Who We Are</h2>
		</div>
		<div class="col-lg-10 col-lg-offset-1">
			<hr>
		</div>
	    <div class="col-lg-10 col-lg-offset-1">
			
	    </div>
		<div class="col-lg-10 col-lg-offset-1">
			<hr>
		</div>
	</div>
	<div class="row pad-bottom">
		<div class="col-lg-5 col-md-6 col-sm-6 col-xs-6 col-lg-offset-1 text-center">
			<h4 class="text-center">Our Products</h4>
			<hr>
		    <img class="img-responsive img-rounded" src="img/example-1.jpg">
		</div>
		<div class="col-lg-5 col-md-6 col-sm-6 col-xs-6 text-center">
			<h4 class="text-center">Our Services</h4>
			<hr>
		    <img class="img-responsive img-rounded" src="img/example-2.jpg">
		</div>
	</div><br>
</div>