<div class="row container-completed-action js-container-completed-action">
	<div class="col-xs-12">
		<div class="row-fluid">
			<div class="col-xs-1 js-edit-completed-action">
				<i class="fa fa-pencil-square-o fa-2x" ></i>
			</div>
			<div class="col-xs-11 border-left">
				<div class="row-fluid">
					<div class="col-xs-12">
						{{child}}
					</div>
				</div>
				<div class="row-fluid">
					<div class="col-xs-12">
						{{action}}
					</div>			
				</div>
				<div class="row-fluid">
					<div class="col-xs-12">
						<div class="js-container-completed-action-time">
							<p class="js-completed-action-time-text">{{time}}</p>
							<div class="hidden input-group date js-completed-action-time-input">
								<input class="form-control" type="text" value="{{time}}">
								<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
							</div>
						</div>
					</div>
				</div>
				<div class="row-fluid {{^isNote?}}hidden{{/isNote?}}">
					<div class="col-xs-12">
						<div class="js-container-completed-action-note">
							{{#isNote?}}NOTE: <p class="js-completed-action-note-text">{{note}}</p><textarea class="hidden js-completed-action-note-input" value="{{note}}">{{note}}</textarea>{{/isNote?}}
						</div>
					</div>
				</div>
				<div class="row-fluid hidden js-edit-completed-action-done">
					<div class="col-xs-12">
						<button class="btn btn-primary">Done</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<hr class="clearfix">