<div class="container-completed-action" data-completed-action>
	<div class="row">
		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
			{{action}}
		</div>	
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" data-edit-completed>
			<i class="fa fa-pencil-square-o fa-2x" ></i>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" data-completed-time>
			<p>{{time}}</p>	
			<!-- DATE PICKER (hidden) -->	
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" data-completed-note>
			{{#isNote?}}NOTE: <p>{{note}}</p><input type="text" class="hide" value="{{note}}">{{/isNote?}}
		</div>
	</div>
	<div class="row hide">
		<button class="btn btn-primary">Done</button>
	</div>
</div>