<div class="container-fluid bg-color">
	<div class="row-fluid">
	    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 marg-top">
			<img src="img/faq-tag.png" alt="Faq" width="100%" height="auto" />
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pad-top">
			<p class="grey-text">Members are welcome to ask any question that they would like.
			We will do our best to answer questions in a timely manner so 
			that this tool is as easy as possible to use. Other members are
			welcome to answer questions. We ask that you keep the forums
			clean of profanity and graphic images. Thanks!</p>
		</div>
	</div>
	<div class="row-fluid">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 wrap">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 faq-header">
				<div class="col-lg-6">
					<p>Topics</p>
				</div>
				<div class="col-lg-3">
					<p>Stats</p>
				</div>
				<div class="col-lg-3">
					<p>Latest Post</p>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 faq-body">
				<div class="col-lg-6">
					<div class="media">
					 <a class="pull-left" href="">
					  	<img class="media-object" class="pull-left" src="img/selected-forum-topic.png" 
					  	alt="File">
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading blue">Newcomers</h4>
					    	<p>New to NannyTracker? Get all the info here!</p>
					  </div>
					</div>
				</div>
				<div class="col-lg-3 grey-faq-col">
					<p class="forum-p blue">156 Topics</p>
					<p class="forum-p">732 Replies</p>
				</div>
				<div class="col-lg-3">
					<p class="forum-p">dsfasdfasdfdsfasdf</p>
					<p class="forum-p">dsfasdfasdfdsfasdf</p>
				</div>
			</div>

			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 faq-body">
				<div class="col-lg-6">
					<div class="media">
					 <a class="pull-left" href="">
					  	<img class="media-object" class="pull-left" src="img/selected-forum-topic.png" 
					  	alt="File">
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading blue">Newcomers</h4>
					    	<p>New to NannyTracker? Get all the info here!</p>
					  </div>
					</div>
				</div>
				<div class="col-lg-3 grey-faq-col">
					<p class="forum-p blue">156 Topics</p>
					<p class="forum-p">732 Replies</p>
				</div>
				<div class="col-lg-3">
					<p class="forum-p">dsfasdfasdfdsfasdf</p>
					<p class="forum-p">dsfasdfasdfdsfasdf</p>
				</div>
			</div>

			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 faq-body">
				<div class="col-lg-6">
					<div class="media">
					 <a class="pull-left" href="">
					  	<img class="media-object" class="pull-left" src="img/selected-forum-topic.png" 
					  	alt="File">
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading blue">Newcomers</h4>
					    	<p>New to NannyTracker? Get all the info here!</p>
					  </div>
					</div>
				</div>
				<div class="col-lg-3 grey-faq-col">
					<p class="forum-p blue">156 Topics</p>
					<p class="forum-p">732 Replies</p>
				</div>
				<div class="col-lg-3">
					<p class="forum-p">dsfasdfasdfdsfasdf</p>
					<p class="forum-p">dsfasdfasdfdsfasdf</p>
				</div>
			</div>

			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 faq-body">
				<div class="col-lg-6">
					<div class="media">
					 <a class="pull-left" href="">
					  	<img class="media-object" class="pull-left" src="img/selected-forum-topic.png" 
					  	alt="File">
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading blue">Newcomers</h4>
					    	<p>New to NannyTracker? Get all the info here!</p>
					  </div>
					</div>
				</div>
				<div class="col-lg-3 grey-faq-col">
					<p class="forum-p blue">156 Topics</p>
					<p class="forum-p">732 Replies</p>
				</div>
				<div class="col-lg-3">
					<p class="forum-p">dsfasdfasdfdsfasdf</p>
					<p class="forum-p">dsfasdfasdfdsfasdf</p>
				</div>
			</div>

			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 faq-body">
				<div class="col-lg-6">
					<div class="media">
					 <a class="pull-left" href="">
					  	<img class="media-object" class="pull-left" src="img/selected-forum-topic.png" 
					  	alt="File">
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading blue">Newcomers</h4>
					    	<p>New to NannyTracker? Get all the info here!</p>
					  </div>
					</div>
				</div>
				<div class="col-lg-3 grey-faq-col">
					<p class="forum-p blue">156 Topics</p>
					<p class="forum-p">732 Replies</p>
				</div>
				<div class="col-lg-3">
					<p class="forum-p">dsfasdfasdfdsfasdf</p>
					<p class="forum-p">dsfasdfasdfdsfasdf</p>
				</div>
			</div>

			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 faq-body">
				<div class="col-lg-6">
					<div class="media">
					 <a class="pull-left" href="">
					  	<img class="media-object" class="pull-left" src="img/selected-forum-topic.png" 
					  	alt="File">
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading blue">Newcomers</h4>
					    	<p>New to NannyTracker? Get all the info here!</p>
					  </div>
					</div>
				</div>
				<div class="col-lg-3 grey-faq-col">
					<p class="forum-p blue">156 Topics</p>
					<p class="forum-p">732 Replies</p>
				</div>
				<div class="col-lg-3">
					<p class="forum-p">dsfasdfasdfdsfasdf</p>
					<p class="forum-p">dsfasdfasdfdsfasdf</p>
				</div>
			</div>
		</div>
	</div>
	<br/>
</div>