<div id="homeSlider" class="carousel slide" data-ride="carousel">
	<div class="login">
		<div class="inner-login">
			<a href="#!/login">Login</a>
			<p>|</p>
			<a href="#!/signup">Sign Up</a>
		</div>
	</div>
	<ol class="carousel-indicators">
		<li data-target="#homeSlider" data-slide-to="0" class="active"></li>
		<li data-target="#homeSlider" data-slide-to="1"></li>
		<li data-target="#homeSlider" data-slide-to="2"></li>
	</ol>
	<div class="container">
		<div id="caption" class="slider-caption">
			<h3>Join Now!</h3>
			<p>The easies way to get started today is to click the Sign Up button on the upper right of you're screen. We look forward to having you as a new member of our ever growing community!</p><br>
			<a class="btn btn-primary" href="#!/signup">learn more</a>
		</div>
	</div>
	<div class="carousel-inner">
		<div class="item active">
			<img src="img/banner-header-1.jpg">
		</div>
		<div class="item">
			<img src="img/banner-header-2.jpg">
		</div>
		<div class="item">
			<img src="img/banner-header-3.jpg">
		</div>
	</div>
	<a class="carousel-control left" href="#homeSlider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
	<a class="carousel-control right" href="#homeSlider" data-slide="next"><i class="fa fa-angle-right"></i></a>
</div>
<!-- <br>
 --><div class="marketing">
	<div class="row about">
		<div class="col-md-4">
			<img class="media-object img-responsive img-rounded" src="img/happy-family.jpg">
		</div>
		<div class="col-md-8">
			<h2 class="media-heading">About Nanny Tracker</h2>
			<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.Donec sed odio dui. Etiam porta s em malesuada magna mollis euismod.</p>
			<p><a class="btn btn-primary" href="#!/about" role="button">View details &raquo;</a></p>
		</div>	
	</div>
	<hr class="featurette-divider">
	<div class="row featurette">
		<div class="col-md-12">
			<h2 class="featurette-heading">Reviews From Happy Parents!</h2>
		</div>
	</div>
	<div class="row featurette">
		<div class="col-md-9">
			<span class="text-muted subText">Susan Anderson / Professional Mom</span>
			<backquote class="lead">
				<span class="bq-start">&#8220;</span>
				I found it very easy to find work with NannyTracker.com. It is easy to set up a profile and plenty of exciting features to keep me happy. I would recommend this web site to others.
				<a class="moreBtn" href="#!/testimonials"> ...More</a>
				<span class="bq-end">&#8221;</span>
			</backquote>
		</div>
		<div class="col-md-3">
			<div class="text-center img-holder">
				<img class="featurette-image img-responsive img-circle" src="img/mom.jpg">
			</div>
		</div>
	</div>
	<div class="row featurette second-featurette">
		<div class="col-md-3">
			<div class="text-center img-holder">
				<img class="featurette-image img-responsive img-circle" src="img/dad.jpg">
			</div>
		</div>
		<div class="col-md-9">
			<span class="text-muted subText">Eric Waibel / Nerd Father</span>
			<backquote class="lead">
				<span class="bq-start">&#8220;</span>
				NannyTracker.com's automated faq response states "We'll get back to you in 24 hours" and guess what, they absolutely DO! I had a issue on the site and NannyTracker.com went above and beyond in helping solve the issue with some great suggestions. She continued to get back to me to ensure I was happy with the outcome. I WAS!
				<a class="moreBtn" href="#!/testimonials"> ...More</a>
				<span class="bq-end">&#8221;</span>
			</backquote>
		</div>
	</div>
</div>