<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-lg-6 col-lg-offset-3 login-form">
			<a href="#!/home"><img class="login-logo" src="img/logo-green.svg" alt="Logo" width="315" height="auto"></a>
			<div id="container-login-error" class="hide alert alert-danger alert-error">
			    <a id="close" class="close">&times;</a>
			    <strong>Error!</strong> <span id="login-error"></span>
			</div>
			<form id="login" method="post" autocomplete="on">
				<input type="email" class="form-control input-size" id="email" placeholder="Email" autocomplete="on" autofocus="true" required>
				<input type="password" class="form-control input-margin input-size" id="pass" placeholder="Password" required>
				<button id="button-login" class="btn btn-primary btn-block btn-lg btn-margin login-btn"><i class="hidden fa fa-spinner"></i>Login</button>
				<button id="button-reset" class="btn btn-primary btn-block btn-lg btn-margin login-btn hide">Reset Password</button>
			</form>
			<ul class="list-inline forgot-pass">
				<li><input type="checkbox" class="form-check" id="forgot-password"></li>
				<li>Forgot Password?</li>
			</ul>
		</div>
	</div>
</div>

<div class="bs-example">
    
</div>