<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-lg-6 col-lg-offset-3 login-form">
			<a href="#!/home"><img class="login-logo" src="img/logo-green.svg" alt="Logo" width="315" height="auto"></a>
			<input type="email" class="form-control input-size" id="email" placeholder="Email">
			<input type="password" class="form-control input-margin input-size" id="pass" placeholder="Password">
			<a href="#" id="loginBtn" class="btn btn-primary btn-block btn-lg btn-margin login-btn">Login</a>
			<ul class="list-inline forgot-pass">
				<li><input type="checkbox" class="form-check" id="signupCheck"></li>
				<li>Forgot Password?</li>
			</ul>
		</div>
	</div>
</div>