<section class="container content">
	<div class="row">
		<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
			<div class="text-left">
				<h4>General Notes</h4>
			</div>
		</div>
		<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
			<div class="text-left">
				<h4>Message Center</h4>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
			<div class="info">
				<p>Feeding Child 1</p>
				<ul>
					<li>Make sure all bottles, nipples, and other utensils are clean.</li>
					<li>Read the directions.</li>
					<li>Prepare the formula.</li>
					<li>Warm the refrigerated formula.</li>
					<li>Place your baby in a feeding position.</li>
					<li>Take note of your baby's intake.</li>
					<li>Burp your baby.</li>
				</ul>
			</div>
		</div>
		<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
			<div class="info">
				<div class="message">
					<div class="col-lg-5 col-md-6 col-sm-6 col-xs-6">
						<p>Time to feed Child</p>
					</div>
					<div class="dotted-line col-lg-4 hidden-md hidden-sm hidden-xs">
						
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
						<p>14 min</p>
					</div>
				</div>
				<div class="message">
					<div class="col-lg-5 col-md-6 col-sm-6 col-xs-6">
						<p>Time to feed Child</p>
					</div>
					<div class="dotted-line col-lg-4 hidden-md hidden-sm hidden-xs">
						
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
						<p>14 min</p>
					</div>
				</div>
				<div class="message">
					<div class="col-lg-5 col-md-6 col-sm-6 col-xs-6">
						<p>Time to feed Child</p>
					</div>
					<div class="dotted-line col-lg-4 hidden-md hidden-sm hidden-xs">
						
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
						<p>14 min</p>
					</div>
				</div>
				<div class="message">
					<div class="col-lg-5 col-md-6 col-sm-6 col-xs-6">
						<p>Time to feed Child</p>
					</div>
					<div class="dotted-line col-lg-4 hidden-md hidden-sm hidden-xs">
						
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
						<p>14 min</p>
					</div>
				</div>
				<div class="message">
					<div class="col-lg-5 col-md-6 col-sm-6 col-xs-6">
						<p>Time to feed Child</p>
					</div>
					<div class="dotted-line col-lg-4 hidden-md hidden-sm hidden-xs">
						
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
						<p>14 min</p>
					</div>
				</div>
			</div>
		</div>
	</div>				
	<div class="row">
		<div class="col-lg-12">
			<div class="children">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" id="myTab">
				    <li class="active"><a href="#home" data-toggle="tab">Child 1</a></li>
				    <li><a href="#profile" data-toggle="tab">Child 2</a></li>
				    <li><a href="#messages" data-toggle="tab">Child 3</a></li>
				    <li><a href="#settings" data-toggle="tab">Child 4</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
				    <div class="tab-pane fade in active" id="home">
				    	<div class="row">
					    	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
								<div class="well">
									<div class="row">
										<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
											<i class="fa fa-check-circle fa-5x"></i>
										</div>
										<div class="relative">
											<div class="right-hr"></div>
										</div>
										<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
											<h2>Change diaper</h2>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
											<h3 class="text-muted">Add notes</h3>
										</div>
									</div>
								</div>
								<div class="well">
									<div class="row">
										<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
											<i class="fa fa-check-circle fa-5x"></i>
										</div>
										<div class="relative">
											<div class="right-hr"></div>
										</div>
										<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
											<h2>Change diaper</h2>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
											<h3 class="text-muted">Add notes</h3>
										</div>
									</div>
								</div>
							</div>
					    	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
								<div class="well completed">
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
											<h4>Completed</h4>
										</div>
										<hr>
									</div>
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
											Nap <i class="fa fa-pencil-square-o fa-2x"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
				    </div>
				    <div class="tab-pane fade" id="profile">stuff 2</div>
				    <div class="tab-pane fade" id="messages">stuff 3</div>
				    <div class="tab-pane fade" id="settings">stuff 4</div>
				</div>
			</div>
		</div>
	</div>
</section>