<section class="content">
	<div class="row">
		<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
			<div class="text-left">
				<h4>General Notes</h4>
			</div>
		</div>
		<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
			<div class="text-left">
				<h4>Message Center</h4>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
			<div class="info">
				<!-- <p>Feeding Child 1</p>
				<ul>
					<li>Make sure all bottles, nipples, and other utensils are clean.</li>
					<li>Read the directions.</li>
					<li>Prepare the formula.</li>
					<li>Warm the refrigerated formula.</li>
					<li>Place your baby in a feeding position.</li>
					<li>Take note of your baby's intake.</li>
					<li>Burp your baby.</li>
				</ul> -->
				{{generalNotes}}
			</div>
		</div>
		<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
			<div class="info">
				{{#messages}}
					<div class="message">
						<div class="col-lg-5 col-md-6 col-sm-6 col-xs-6">
							<p>{{message}}</p>
						</div>
						<div class="dotted-line col-lg-4 hidden-md hidden-sm hidden-xs">
							
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
							<p>{{time}}</p>
						</div>
					</div>
				{{/messages}}
				{{^messages}}
					<p>No messages</p>
				{{/messages}}
			</div>
		</div>
	</div>				
	<div class="row">
		<div class="col-lg-12">
			<div class="children">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" id="myTab">
					{{#childrenTabs}}
				    	<li {{#isActive?}}class="active"{{/isActive?}}><a href="#{{name}}" data-toggle="tab">{{name}}</a></li>				    
					{{/childrenTabs}}
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					{{#children}}
				    <div class="tab-pane fade in {{#isActive?}}active{{/isActive?}}" id="{{name}}">
				    	<div class="row">
					    	<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
					    		{{#actions}}
								<div id="task-box" class="well">
									<div class="row">
										<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" data-mark-complete>
											<i class="fa fa-check-circle fa-5x"></i>
										</div>
										<div class="relative">
											<div class="right-hr"></div>
										</div>
										<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
											<h2>{{action}}</h2>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
											<a id="add-note" class="text-muted" data-add-notes>Add notes</a>
										</div>
										<!-- Add textarea -->
									</div>
								</div>
								{{/actions}}								
							</div>
					    	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
								<div class="well container-completed">
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
											<h4>Completed</h4>
										</div>
										<hr>
									</div>						
								</div>
							</div>
						</div>						
				    </div>	
				    {{/children}}			    
				</div>
			</div>
		</div>
	</div>
</section>