<div class="cont-login-logout">
	<div class="login-logout">
		<div class="inner-login-logout">
			<a id="button-logout">Logout</a>
		</div>
	</div>
</div>

<section class="content">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="text-left">
				<!-- Button trigger modal -->
				<a class="btn btn-warning btn-sm pull-right" data-toggle="modal" 
				data-target="#modal-babysitter-message">Message Nanny</a>
				<h4 class="warning"><i class="fa fa-warning fa-2x"></i>Alerts</h4>
			</div>		
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="modal-babysitter-message" tabindex="0" role="dialog" aria-labelledby="modal-babysitter-message-label" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title" id="modal-babysitter-message-label">Send Babysitter a Message!</h4>
	      </div>
	      <div class="modal-body">
	          <textarea class="babysitter-message" autofocus tabindex="-1"></textarea>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary">Send Message</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="info">
				{{#messages}}
				<div class="message">
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<p>{{message}}</p>
					</div>
					<div class="dotted-line col-lg-8 hidden-md hidden-sm hidden-xs">
						
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<p>{{time}}</p>
					</div>
				</div>
				{{/messages}}
				{{^messages}}
					<p>No messages</p>
				{{/messages}}
			</div>
		</div>
	</div>	
	
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="text-left">
				<h4><i class="fa fa-check-circle fa-2x"></i>Completed Actions</h4>
			</div>
		</div>
	</div>

	{{#completedActions}}			
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="green-well">
				<div class="child-img-holder col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<img class="img-responsive img-circle testimonial-img" src="img/mom.jpg">
				</div>
				<div class="no-left-padding no-right-padding col-lg-10 col-md-10 col-sm-10 col-xs-10">
					<div class="green-border-bottom">
						<div class="task-title col-lg-3 col-md-3 col-sm-3 col-xs-3">
							<h4>{{action}}</h4>
						</div>
						<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
							<h4>{{startTime}} --------> {{endTime}}</h4>
						</div>
					</div>
					<div class="child-notes">
						{{notes}}
					</div>
				</div>
			</div>
		</div>
	</div>
	{{/completedActions}}
	
</section>