<section class="content">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="text-left">
				<h4>Message Center</h4>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="info">
				<div class="message">
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<p>Child 1 broke arm</p>
					</div>
					<div class="dotted-line col-lg-8 hidden-md hidden-sm hidden-xs">
						
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<p>5 min ago</p>
					</div>
				</div>
				<div class="message">
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<p>Child 1 broke arm</p>
					</div>
					<div class="dotted-line col-lg-8 hidden-md hidden-sm hidden-xs">
						
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<p>An hour ago</p>
					</div>
				</div>
				<div class="message">
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<p>Child 1 broke arm</p>
					</div>
					<div class="dotted-line col-lg-8 hidden-md hidden-sm hidden-xs">
						
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<p>An hour ago</p>
					</div>
				</div>
				<div class="message">
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<p>Child 1 broke arm</p>
					</div>
					<div class="dotted-line col-lg-8 hidden-md hidden-sm hidden-xs">
						
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<p>2 hours ago</p>
					</div>
				</div>
				<div class="message">
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<p>Child 1 broke arm</p>
					</div>
					<div class="dotted-line col-lg-8 hidden-md hidden-sm hidden-xs">
						
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<p>2 hours ago</p>
					</div>
				</div>
				<div class="message">
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<p>Child 1 broke arm</p>
					</div>
					<div class="dotted-line col-lg-8 hidden-md hidden-sm hidden-xs">
						
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<p>2 hours ago</p>
					</div>
				</div>
			</div>
		</div>
	</div>				
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="text-left">
				<h4>Message Center</h4>
			</div>
		</div>
	</div>				
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="green-well">
				<div class="child-img-holder col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<img class="img-responsive img-circle testimonial-img" src="img/mom.jpg">
				</div>
				<div class="no-left-padding no-right-padding col-lg-10 col-md-10 col-sm-10 col-xs-10">
					<div class="green-border-bottom">
						<div class="task-title col-lg-3 col-md-3 col-sm-3 col-xs-3">
							<h4>Nap</h4>
						</div>
						<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
							<h4>11:00 --------> 12:44</h4>
						</div>
					</div>
					<div class="child-notes">
						ibaeufbiueb
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="green-well">
				<div class="child-img-holder col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<img class="img-responsive img-circle testimonial-img" src="img/mom.jpg">
				</div>
				<div class="no-left-padding no-right-padding col-lg-10 col-md-10 col-sm-10 col-xs-10">
					<div class="green-border-bottom">
						<div class="task-title col-lg-3 col-md-3 col-sm-3 col-xs-3">
							<h4>Nap</h4>
						</div>
						<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
							<h4>11:00 --------> 12:44</h4>
						</div>
					</div>
					<div class="child-notes">
						ibaeufbiueb
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="green-well">
				<div class="child-img-holder col-lg-2 col-md-2 col-sm-2 col-xs-2">
					<img class="img-responsive img-circle testimonial-img" src="img/mom.jpg">
				</div>
				<div class="no-left-padding no-right-padding col-lg-10 col-md-10 col-sm-10 col-xs-10">
					<div class="green-border-bottom">
						<div class="task-title col-lg-3 col-md-3 col-sm-3 col-xs-3">
							<h4>Nap</h4>
						</div>
						<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
							<h4>11:00 --------> 12:44</h4>
						</div>
					</div>
					<div class="child-notes">
						ibaeufbiueb
					</div>
				</div>
			</div>
		</div>
	</div>
</section>