<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-lg-6 col-lg-offset-3 login-form">
			<a href="#!/reset"><img class="login-logo" src="img/logo-green.svg" alt="Logo" width="315" height="auto" style="margin: 5px;"></a>
			<h4 style="margin: 20px;">Reset Password</h4>
			<form id="reset" method="post" autocomplete="on">
				<input type="email" class="form-control input-size" id="email" placeholder="Email" autocomplete="on">
				<input type="password" class="form-control input-margin input-size" id="pass" placeholder="New Password">
				<input type="password" class="form-control input-margin input-size" id="confirm" placeholder="Confirm New Password">
				<button id="resetBtn" class="btn btn-primary btn-block btn-lg login-btn">
					<i class="hidden fa fa-spinner"></i>Submit</button>
			</form>
		</div>
	</div>
</div>