
<div class="container-fluid">
	  <h2>Let's Get Started!</h2>
    <form class="form-inline" role="form">
        <div class="form-group">
          <label class="sr-only" for="firstName">First Name:</label>
          <input type="text" class="form-control" id="FirstName" placeholder="First Name">
        </div>
        <div class="form-group">
          <label class="sr-only" for="lastName">Last Name</label>
          <input type="text" class="form-control" id="LastName" placeholder="Last Name">
       </div><br/>
       <div class="form-group">
          <label class="sr-only" for="address">Address:</label>
          <input type="text" class="form-control" id="address" placeholder="Address">
        </div>
        <div class="form-group city-town">
          <label class="sr-only" for="city-town">City / Town</label>
          <input type="text" class="form-control" id="city" placeholder="City / Town">
       </div>
       <div class="form-group state">
          <label class="sr-only" for="state">State</label>
          <input type="text" class="form-control" id="LastName" placeholder="State">
       </div><br/>
       <div class="form-group">
          <label class="sr-only" for="email">email</label>
          <input type="email" class="form-control" id="email" placeholder="Email">
       </div>
       <div class="form-group">
          <label class="sr-only" for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password">
       </div><br/>
       <div class="form-group">
          <label class="sr-only" for="phone">Phone</label>
          <input type="text" class="form-control" id="phone" placeholder="Phone">
       </div>
       <div class="form-group city-town">
          <label class="sr-only" for="DOB">Date of Birth</label>
          <input type="date" class="form-control" id="DOB" placeholder="Date of Birth">
       </div>
       <select class="form-group state" placeholder="Gender">
          <option value="male">Male</option>
          <option value="female">Female</option>
      </select><br/><br/>
      <button type="submit" class="btn btn-primary btn-lg signUp form-group">Sign Up &raquo;</button>
    </form>
    <img class="couple" src="img/man-and-woman.png" alt="Man &amp; Woman" width="450" height="auto" />
</div>

	
	
