<div class="container-fluid container-signup">
  <div class="col-lg-10 col-lg-offset-1">
	<h2 class="signup-header">Signup for new account</h2>
		<hr>
		<p>We know safety and security are your top priorities. That’s why we provide tools and resources to help you make informed decisions about who’s right for your family. Fill out basic account information to set up your account and get started.</p>
	<div id="container-signup-error" class="hidden alert alert-danger alert-error">
	    <a id="close" class="close">&times;</a>
	    <strong>Error!</strong> <span id="signup-error"></span>
	</div>

	
	<form id="signup" role="form">
	  <div class="row form-group">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		  <label for="email" class="sr-only">Email Address:</label>
		  <input type="email" class="form-control" id="email" name="email" placeholder="Email">
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		  <label for="password" class="sr-only">Password:</label>
		  <input type="password" class="form-control" id="password" name="password" placeholder="Password">
		</div>
	  </div>

	<div class="row form-group">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		  <label for="first-name" class="sr-only">First Name:</label>
		  <input type="text" class="form-control" id="first-name" name="firstName" placeholder="First Name">
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		  <label for="last-name" class="sr-only">Last Name:</label>
		  <input type="text" class="form-control" id="last-name" name="lastName" placeholder="Last Name">
		</div>
		</div>

		<div class="row form-group">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		  <label for="address" class="sr-only">Address:</label>
		  <input type="text" class="form-control" id="address" name="address" placeholder="Address">
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		  <label for="city" class="sr-only">City:</label>
		  <input type="text" class="form-control" id="city" name="city" placeholder="City / Town">
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
		  <label for="state" class="sr-only" style="height:34px;">State:</label>
		  <select class="form-control" id="state" name="state">
			<option value="State">State</option>
			<option value="AZ">AZ</option>
			<option value="TX">TX</option>
			<option value="CA">CA</option>
			<option value="SD">SD</option>
		  </select>
		</div>
	</div>

	<div class="row form-group">
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	  <label for="phone" class="sr-only">Phone #:</label>
	  <input type="text" class="form-control" id="phone" name="phone" placeholder="000-000-0000">
	</div>
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
	  <label for="dob" class="sr-only">Date of Birth:</label>
	  <input type="date" class="form-control" id="dob" name="dob" placeholder="Date of Birth">
	</div>
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
	  <label for="gender" class="sr-only">Select Gender</label>
	  <select class="form-control" id="gender" name="gender">
		<option value="Gender">Gender</option>
		<option value="Male">Male</option>
		<option value="Female">Female</option>
	  </select>
	</div>
	</div>
	

	  <div class="row">
		<div class="col-lg-6 col-md-4 col-sm-2 col-xs-12">
		  <button type="submit" class="btn btn-primary form-group">Sign Up &raquo;</button>
		</div>
		<div class="col-lg-6 col-md-8 hidden-xs">
		  <img src="img/man-and-woman.png" alt="Man &amp; Woman" width="450" height="auto">
		</div>
	  </div>
	</form>
  </div>
</div>



