<div class="row featured-testimonial">
	<div class="col-md-7">
		<img class="img-responsive img-rounded" src="img/testimonials-1.jpg">
	</div>
	<div class="col-md-5">
		<div class="featured-well">
			<h3>Erik Waibel, Nerd Father</h3>
			<p> "It's so cool... you have to try it. It saves me so much time"</p>
			<p class="text-center"><a class="btn btn-primary" href="#!/about" role="button">Read the full case study &raquo;</a></p>
		</div>
	</div>	
</div>
<div>
	<div class="col-md-6">
		<div class="text-center pull-left">
			<img class="img-responsive img-circle testimonial-img" src="img/mom.jpg">
		</div>
		<p class="text-left pull-left">Some blerb about this lady's testamonial.</p>
		<br><hr>
		<p>yvwdf 	ewiubweljfb welif bl biwubf wf ouwvufyvw leufv wuyfvluw uwyfv liwefv uwyvfuywv fuywev fuy</p>
	</div>
	<div class="col-md-6">
		<div class="text-center pull-left">
			<img class="img-responsive img-circle testimonial-img" src="img/mom.jpg">
		</div>
		<p class="text-left pull-left">Some blerb about this lady's testamonial.</p>
		<br><hr>
		<p>yvwdf 	ewiubweljfb welif bl biwubf wf ouwvufyvw leufv wuyfvluw uwyfv liwefv uwyvfuywv fuywev fuy</p>
	</div>
</div>
<div>
	<div class="col-md-4">
		<div class="text-center">
			<img class="img-responsive img-circle testimonial-img" src="img/mom.jpg">
		</div>
	</div>
	<div class="col-md-4">
		<div class="text-center">
			<img class="img-responsive img-circle testimonial-img" src="img/mom.jpg">
		</div>
	</div>
	<div class="col-md-4">
		<div class="text-center">
			<img class="img-responsive img-circle testimonial-img" src="img/mom.jpg">
		</div>
	</div>
</div>