<div class="row featured-testimonial">
	<div class="col-md-7 no-right-padding">
		<img class="img-responsive round-left pull-right" src="img/testimonials-1.jpg">
	</div>
	<div class="col-md-5 no-left-padding">
		<div class="featured-well">
			<h3>Erik Waibel, Nerd Father</h3>
			<p> "It's so cool... you have to try it. It saves me so much time"</p>
			<p class="text-center"><a class="btn btn-primary" href="#!/about" role="button">Read the full case study &raquo;</a></p>
		</div>
	</div>	
</div>
<div class="testimoial-row">
	<div class="col-md-6">
		<div class="col-md-4">
			<div class="text-center pull-left">
				<img class="img-responsive img-circle testimonial-img" src="img/parent1.jpg">
			</div>
		</div>
		<div class="col-md-8 text-left">
			<h4><a href="#!/">Rodriguez Family</a></h4>
			<hr>
			<p>&#8220; Our whole family uses Nanny Tracker and love the product! &#8221;</p>
		</div>
	</div>
	<div class="col-md-6">
		<div class="col-md-4">
			<div class="text-center pull-left">
				<img class="img-responsive img-circle testimonial-img" src="img/parent2.jpg">
			</div>
		</div>
		<div class="col-md-8 text-left">
			<h4><a href="#!/">Devin / Active Dad</a></h4>
			<hr>
			<p>&#8220; I love that I can go out for a long run and still know where my child is every minute. &#8221;</p>
		</div>
	</div>
</div>
<div class="testimoial-row">
	<div class="col-md-6">
		<div class="col-md-4">
			<div class="text-center pull-left">
				<img class="img-responsive img-circle testimonial-img" src="img/parent3.jpg">
			</div>
		</div>
		<div class="col-md-8 text-left">
			<h4><a href="#!/">Richard / Nerd Father</a></h4>
			<hr>
			<p>&#8220; I love this web app, the only thing I've used in years! &#8221;</p>
		</div>
	</div>
	<div class="col-md-6">
		<div class="col-md-4">
			<div class="text-center pull-left">
				<img class="img-responsive img-circle testimonial-img" src="img/parent4.jpg">
			</div>
		</div>
		<div class="col-md-8 text-left">
			<h4><a href="#!/">Linda / active mom</a></h4>
			<hr>
			<p>My whole family uses Nanny Tracker and loves this product!</p>
		</div>
	</div>
</div>